@tailwind base;
@tailwind components;
@tailwind utilities;

#nprogress .bar {
  height: 0.25rem !important;
  opacity: 1 !important;
  background: theme('colors.secondary.600') !important;
}

#nprogress .peg {
  box-shadow: none !important;
}
